
<div class="container">
  <p class="display-4">
    <%= @friend.first_name %>
    <%= @friend.last_name %>
  </p>

  <p class="lead">
    <%= @friend.email %> |
    <%= @friend.phone %> |
    <%= @friend.twitter %>
  </p>
  <div class="btn-group">
  <%= link_to 'Edit', edit_friend_path(@friend), class:"btn btn-warning" %>
  <%= link_to 'Back', friends_path, class:"btn btn-success" %>
  </div>
</div>
